<div class="container">
  <section class="title-add">
    <h1><%= @list.title %></h1>
    <%= link_to "Add task...", new_task_path(list_id: @list.id)%>
    <%= link_to "Not completed tasks", incompleted_tasks_path(list_id: @list.id)%>
    <% if @incomplete_tasks.nil? %>
      <%= will_paginate @tasks%>
      <ul class="tasks">
        <%= render @tasks %>
      </ul>
      <%= will_paginate @tasks%>
    <% else %>
      <%= will_paginate @incomplete_tasks%>
      <ul class="tasks">
        <%= render @incomplete_tasks %>
      </ul>
      <%= will_paginate @incomplete_tasks%>
    <% end %>
  </section>
</div>
